# EXAMPLE 1

## Libraries

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np

from parepy_toolbox import sampling_algorithm_structural_analysis
from obj_function import nowak_collins_example, nowak_collins_time_example

## Statement random variables

In [2]:
f = {
        'type': 'normal', 
        'parameters': {'mean': 40.3, 'sigma': 4.64}, 
        'stochastic variable': False, 
    }

p = {
        'type': 'gumbel max',
        'parameters': {'mean': 10.2, 'sigma': 1.12}, 
        'stochastic variable': False, 
    }

w = {
        'type': 'lognormal',
        'parameters': {'mean': 0.25, 'sigma': 0.025}, 
        'stochastic variable': False, 
    }
var = [f, p, w]

## PAREpy setup

In [3]:
setup = {
             'number of samples': 1000, 
             'numerical model': {'model sampling': 'mcs'}, 
             'variables settings': var, 
             'number of state limit functions or constraints': 1, 
             'none variable': None,
             'objective function': nowak_collins_example,
             'name simulation': 'nowak_collins_example',
        }

## Call algorithm

In [4]:
results, pf, beta = sampling_algorithm_structural_analysis(setup)

10:51:13 - Checking inputs completed!
10:51:13 - Started State Limit Function evaluation (g)...
10:51:15 - Finished State Limit Function evaluation (g) in 1.76e+00 seconds!
10:51:15 - Started evaluation beta reliability index and failure probability...
10:51:15 - Finished evaluation beta reliability index and failure probability in 4.27e-03 seconds!
10:51:15 - Voilà!!!!....simulation results are saved in nowak_collins_example_MCS_20241217-105115.txt

## Output

In [5]:
results

,X_0,X_1,X_2,R_0,S_0,G_0,I_0
0,42.865413,10.827153,0.292686,3429.233021,2291.608987,1137.624034,0.0
1,38.953871,11.166404,0.253017,3116.309663,2078.581722,1037.727941,0.0
2,48.334085,9.836905,0.236214,3866.726809,1908.794952,1957.931857,0.0
3,38.382522,10.353360,0.232714,3070.601722,1916.268684,1154.333038,0.0
4,36.757518,9.509305,0.271673,2940.601424,2097.898094,842.703329,0.0
...,...,...,...,...,...,...,...
995,35.324322,9.395725,0.247111,2825.945772,1948.518982,877.426790,0.0
996,40.627434,9.876647,0.254446,3250.194698,2017.268535,1232.926163,0.0
997,37.765050,11.724416,0.260480,3021.204004,2152.237986,868.966018,0.0
998,38.970888,9.895895,0.207654,3117.671013,1745.414458,1372.256556,0.0
999,36.767146,9.030892,0.235151,2941.371654,1859.068600,1082.303054,0.0

In [6]:
pf

     I_0
0  0.002

In [7]:
beta

        I_0
0  2.878162

# EXAMPLE 2

## Libraries

In [8]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np

from parepy_toolbox import sampling_algorithm_structural_analysis
from obj_function import nowak_collins_time_example

## Statement random variables

In [9]:
f = {
        'type': 'normal', 
        'parameters': {'mean': 40.3, 'sigma': 4.64}, 
        'stochastic variable': False, 
    }

p = {
        'type': 'gumbel max',
        'parameters': {'mean': 10.2, 'sigma': 1.12}, 
        'stochastic variable': True, 
    }

w = {
        'type': 'lognormal',
        'parameters': {'mean': 0.25, 'sigma': 0.025}, 
        'stochastic variable': False, 
    }
var = [f, p, w]

## PAREpy setup

In [10]:
setup = {
             'number of samples': 1000, 
             'numerical model': {'model sampling': 'mcs-time', 'time steps': 5}, 
             'variables settings': var, 
             'number of state limit functions or constraints': 1, 
             'none variable': {'time analysis': list(np.linspace(0, 50, num=5, endpoint=True))},
             'objective function': nowak_collins_time_example,
             'name simulation': 'nowak_collins_time_example',
        }

## Call algorithm

In [11]:
results, pf, beta = sampling_algorithm_structural_analysis(setup)

10:51:15 - Checking inputs completed!
10:51:15 - Started State Limit Function evaluation (g)...
10:51:17 - Finished State Limit Function evaluation (g) in 1.86e+00 seconds!
10:51:17 - Started evaluation beta reliability index and failure probability...
10:51:17 - Finished evaluation beta reliability index and failure probability in 2.01e-02 seconds!
10:51:17 - Voilà!!!!....simulation results are saved in nowak_collins_time_example_MCS-TIME_20241217-105117.txt

## Output

In [12]:
results

,X_0_t=0,X_0_t=1,X_0_t=2,X_0_t=3,X_0_t=4,X_1_t=0,X_1_t=1,X_1_t=2,X_1_t=3,X_1_t=4,X_2_t=0,X_2_t=1,X_2_t=2,X_2_t=3,X_2_t=4,STEP_t_0,STEP_t_1,STEP_t_2,STEP_t_3,STEP_t_4,R_0_t=0,R_0_t=1,R_0_t=2,R_0_t=3,R_0_t=4,S_0_t=0,S_0_t=1,S_0_t=2,S_0_t=3,S_0_t=4,G_0_t=0,G_0_t=1,G_0_t=2,G_0_t=3,G_0_t=4,I_0_t=0,I_0_t=1,I_0_t=2,I_0_t=3,I_0_t=4
0,40.625148,40.625148,40.625148,40.625148,40.625148,9.979972,11.461795,8.878789,9.214206,12.831979,0.239862,0.239862,0.239862,0.239862,0.239862,0.0,1.0,2.0,3.0,4.0,3250.011859,3249.491857,3249.751858,3249.838525,3249.881858,1937.795569,2017.814025,1878.331695,1896.444202,2091.803980,1312.216290,1231.677832,1371.420163,1353.394322,1158.077878,0.0,0.0,0.0,0.0,0.0
1,41.070091,41.070091,41.070091,41.070091,41.070091,9.925466,9.053058,10.714024,11.276453,8.558750,0.271787,0.271787,0.271787,0.271787,0.271787,0.0,1.0,2.0,3.0,4.0,3285.607283,3285.081586,3285.344434,3285.432051,3285.475859,2121.037453,2073.927409,2163.619595,2193.990739,2047.234770,1164.569830,1211.154176,1121.724840,1091.441311,1238.241088,0.0,0.0,0.0,0.0,0.0
2,44.970766,44.970766,44.970766,44.970766,44.970766,14.059045,9.304649,11.948925,10.067062,10.193630,0.274850,0.274850,0.274850,0.274850,0.274850,0.0,1.0,2.0,3.0,4.0,3597.661314,3597.085688,3597.373501,3597.469439,3597.517408,2362.114034,2105.376648,2248.167546,2146.546934,2153.381613,1235.547280,1491.709040,1349.205955,1450.922504,1444.135794,0.0,0.0,0.0,0.0,0.0
3,43.110026,43.110026,43.110026,43.110026,43.110026,9.570292,9.511146,9.888554,9.601064,10.667273,0.241365,0.241365,0.241365,0.241365,0.241365,0.0,1.0,2.0,3.0,4.0,3448.802093,3448.250285,3448.526189,3448.618157,3448.664141,1924.436896,1921.242986,1941.623002,1926.098563,1983.673825,1524.365197,1527.007298,1506.903187,1522.519594,1464.990316,0.0,0.0,0.0,0.0,0.0
4,44.911326,44.911326,44.911326,44.911326,44.911326,11.336041,10.832180,10.689250,9.264617,9.667473,0.210325,0.210325,0.210325,0.210325,0.210325,0.0,1.0,2.0,3.0,4.0,3592.906061,3592.331196,3592.618628,3592.714439,3592.762345,1838.762637,1811.554140,1803.835936,1726.905739,1748.659965,1754.143423,1780.777056,1788.782692,1865.808701,1844.102379,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,49.129683,49.129683,49.129683,49.129683,49.129683,11.318156,8.778794,9.594134,10.089969,9.491502,0.257355,0.257355,0.257355,0.257355,0.257355,0.0,1.0,2.0,3.0,4.0,3930.374675,3929.745815,3930.060245,3930.165055,3930.217460,2112.073181,1974.947608,2018.975982,2045.751060,2013.433816,1818.301494,1954.798207,1911.084263,1884.413994,1916.783644,0.0,0.0,0.0,0.0,0.0
996,38.712047,38.712047,38.712047,38.712047,38.712047,9.316465,9.632775,8.793032,10.501755,9.136924,0.251088,0.251088,0.251088,0.251088,0.251088,0.0,1.0,2.0,3.0,4.0,3096.963749,3096.468235,3096.715992,3096.798578,3096.839870,1967.431868,1984.512590,1939.166494,2031.437536,1957.736663,1129.531881,1111.955645,1157.549498,1065.361041,1139.103208,0.0,0.0,0.0,0.0,0.0
997,44.211615,44.211615,44.211615,44.211615,44.211615,10.398246,13.620901,10.274589,8.942700,9.216269,0.203778,0.203778,0.203778,0.203778,0.203778,0.0,1.0,2.0,3.0,4.0,3536.929186,3536.363277,3536.646231,3536.740549,3536.787708,1749.940772,1923.964140,1743.263269,1671.341240,1686.114009,1786.988414,1612.399137,1793.382962,1865.399309,1850.673700,0.0,0.0,0.0,0.0,0.0
998,37.264820,37.264820,37.264820,37.264820,37.264820,9.563733,8.802546,9.073221,9.322307,9.610024,0.234676,0.234676,0.234676,0.234676,0.234676,0.0,1.0,2.0,3.0,4.0,2981.185599,2980.708610,2980.947104,2981.026603,2981.066352,1885.070828,1843.966775,1858.583219,1872.033832,1887.570567,1096.114771,1136.741835,1122.363885,1108.992770,1093.495785,0.0,0.0,0.0,0.0,0.0
999,44.318171,44.318171,44.318171,44.318171,44.318171,12.404593,9.926009,9.437588,10.065977,10.385253,0.262321,0.262321,0.262321,0.262321,0.262321,0.0,1.0,2.0,3.0,4.0,3545.453685,3544.886412,3545.170048,3545.264594,3545.311866,2199.704448,2065.860881,2039.486174,2073.419150,2090.660087,1345.749237,1479.025531,1505.683875,1471.845443,1454.651779,0.0,0.0,0.0,0.0,0.0

In [13]:
pf

     G_0
0  0.002
1  0.003
2  0.003
3  0.003
4  0.004

In [14]:
beta

        G_0
0  2.878162
1  2.747781
2  2.747781
3  2.747781
4  2.652070