# EXAMPLE 1

## Libraries

In [1]:
#!pip install parepy_toolbox
#!pip install pandas

import pandas as pd
pd.set_option('display.max_columns', None)

from parepy_toolbox import sampling_algorithm_structural_analysis
from obj_function import nowak_collins_example

## Statement random variables

In [2]:
f = {
        'type': 'normal', 
        'parameters': {'mean': 40.3, 'sigma': 4.64}, 
        'stochastic variable': False, 
    }

p = {
        'type': 'gumbel max',
        'parameters': {'mean': 10.2, 'sigma': 1.12}, 
        'stochastic variable': False, 
    }

w = {
        'type': 'lognormal',
        'parameters': {'mean': 0.25, 'sigma': 0.025}, 
        'stochastic variable': False, 
    }
var = [f, p, w]

## PAREpy setup

In [3]:
setup = {
             'number of samples': 1000, 
             'numerical model': {'model sampling': 'mcs'}, 
             'variables settings': var, 
             'number of state limit functions or constraints': 1, 
             'none variable': None,
             'objective function': nowak_collins_example,
             'name simulation': 'nowak_collins_example',
        }

## Call algorithm

In [4]:
results, pf, beta = sampling_algorithm_structural_analysis(setup)

11:23:55 - Checking inputs completed!
11:23:55 - Started State Limit Function evaluation (g)...
11:23:57 - Finished State Limit Function evaluation (g) in 1.63e+00 seconds!
11:23:57 - Started evaluation beta reliability index and failure probability...
11:23:57 - Finished evaluation beta reliability index and failure probability in 4.61e-03 seconds!
11:23:57 - Voilà!!!!....simulation results are saved in nowak_collins_example_MCS_20241217-112357.txt

## Output

In [5]:
results

,X_0,X_1,X_2,R_0,S_0,G_0,I_0
0,33.874737,12.084326,0.297292,2709.978960,2386.362252,323.616708,0.0
1,47.115982,11.740645,0.257495,3769.278592,2135.706423,1633.572169,0.0
2,35.083746,11.367837,0.242297,2806.699663,2026.938078,779.761585,0.0
3,38.503683,10.931344,0.274853,3080.294648,2193.237715,887.056933,0.0
4,34.929726,9.808085,0.248992,2794.378050,1981.758775,812.619276,0.0
...,...,...,...,...,...,...,...
995,45.776502,9.376536,0.236372,3662.120167,1884.853131,1777.267036,0.0
996,34.984239,9.694515,0.248478,2798.739124,1972.628373,826.110750,0.0
997,44.606215,11.199138,0.244494,3568.497217,2030.641005,1537.856213,0.0
998,41.330769,9.243068,0.235020,3306.461503,1869.760471,1436.701032,0.0
999,41.721339,10.122950,0.263335,3337.707126,2082.410097,1255.297028,0.0

In [6]:
pf

     I_0
0  0.001

In [7]:
beta

        I_0
0  3.090232

# EXAMPLE 2

## Libraries

In [8]:
#!pip install parepy_toolbox
#!pip install numpy
#!pip install pandas

import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np

from parepy_toolbox import sampling_algorithm_structural_analysis
from obj_function import nowak_collins_time_example

## Statement random variables

In [9]:
f = {
        'type': 'normal', 
        'parameters': {'mean': 40.3, 'sigma': 4.64}, 
        'stochastic variable': False, 
    }

p = {
        'type': 'gumbel max',
        'parameters': {'mean': 10.2, 'sigma': 1.12}, 
        'stochastic variable': True, 
    }

w = {
        'type': 'lognormal',
        'parameters': {'mean': 0.25, 'sigma': 0.025}, 
        'stochastic variable': False, 
    }
var = [f, p, w]

## PAREpy setup

In [10]:
setup = {
             'number of samples': 1000, 
             'numerical model': {'model sampling': 'mcs-time', 'time steps': 5}, 
             'variables settings': var, 
             'number of state limit functions or constraints': 1, 
             'none variable': {'time analysis': list(np.linspace(0, 50, num=5, endpoint=True))},
             'objective function': nowak_collins_time_example,
             'name simulation': 'nowak_collins_time_example',
        }

## Call algorithm

In [11]:
results, pf, beta = sampling_algorithm_structural_analysis(setup)

11:23:57 - Checking inputs completed!
11:23:57 - Started State Limit Function evaluation (g)...
11:23:59 - Finished State Limit Function evaluation (g) in 2.03e+00 seconds!
11:23:59 - Started evaluation beta reliability index and failure probability...
11:23:59 - Finished evaluation beta reliability index and failure probability in 2.87e-02 seconds!
11:23:59 - Voilà!!!!....simulation results are saved in nowak_collins_time_example_MCS-TIME_20241217-112359.txt

## Output

In [12]:
results

,X_0_t=0,X_0_t=1,X_0_t=2,X_0_t=3,X_0_t=4,X_1_t=0,X_1_t=1,X_1_t=2,X_1_t=3,X_1_t=4,X_2_t=0,X_2_t=1,X_2_t=2,X_2_t=3,X_2_t=4,STEP_t_0,STEP_t_1,STEP_t_2,STEP_t_3,STEP_t_4,R_0_t=0,R_0_t=1,R_0_t=2,R_0_t=3,R_0_t=4,S_0_t=0,S_0_t=1,S_0_t=2,S_0_t=3,S_0_t=4,G_0_t=0,G_0_t=1,G_0_t=2,G_0_t=3,G_0_t=4,I_0_t=0,I_0_t=1,I_0_t=2,I_0_t=3,I_0_t=4
0,33.433977,33.433977,33.433977,33.433977,33.433977,9.328905,12.280086,9.059410,9.863374,13.328684,0.286421,0.286421,0.286421,0.286421,0.286421,0.0,1.0,2.0,3.0,4.0,2674.718179,2674.290224,2674.504202,2674.575528,2674.611191,2174.168513,2333.532280,2159.615755,2203.029819,2390.156568,500.549667,340.757944,514.888447,471.545709,284.454623,0.0,0.0,0.0,0.0,0.0
1,46.384246,46.384246,46.384246,46.384246,46.384246,10.646265,9.824526,11.904709,10.585998,10.718847,0.218832,0.218832,0.218832,0.218832,0.218832,0.0,1.0,2.0,3.0,4.0,3710.739710,3710.145992,3710.442851,3710.541804,3710.591281,1851.125075,1806.751133,1919.081040,1847.870628,1855.044476,1859.614635,1903.394859,1791.361811,1862.671176,1855.546805,0.0,0.0,0.0,0.0,0.0
2,37.481448,37.481448,37.481448,37.481448,37.481448,8.539349,10.502785,9.754841,9.945801,8.610093,0.255085,0.255085,0.255085,0.255085,0.255085,0.0,1.0,2.0,3.0,4.0,2998.515842,2998.036079,2998.275960,2998.355921,2998.395901,1948.779950,2054.805505,2014.416560,2024.728391,1952.600130,1049.735891,943.230574,983.859401,973.627530,1045.795771,0.0,0.0,0.0,0.0,0.0
3,39.842899,39.842899,39.842899,39.842899,39.842899,8.810349,12.407886,9.461449,10.311523,10.374189,0.223199,0.223199,0.223199,0.223199,0.223199,0.0,1.0,2.0,3.0,4.0,3187.431927,3186.921937,3187.176932,3187.261930,3187.304429,1777.454789,1971.721795,1812.614153,1858.518195,1861.902155,1409.977137,1215.200142,1374.562779,1328.743735,1325.402274,0.0,0.0,0.0,0.0,0.0
4,44.460412,44.460412,44.460412,44.460412,44.460412,10.239516,10.233153,11.117261,9.813759,8.591277,0.190933,0.190933,0.190933,0.190933,0.190933,0.0,1.0,2.0,3.0,4.0,3556.832955,3556.263862,3556.548408,3556.643257,3556.690682,1666.454412,1666.110773,1713.852612,1643.463509,1577.449494,1890.378543,1890.153089,1842.695796,1913.179748,1979.241188,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31.190008,31.190008,31.190008,31.190008,31.190008,9.683699,9.891371,8.795857,8.378558,10.355456,0.231446,0.231446,0.231446,0.231446,0.231446,0.0,1.0,2.0,3.0,4.0,2495.200607,2494.801375,2495.000991,2495.067530,2495.100799,1872.710017,1883.924296,1824.766555,1802.232384,1908.984926,622.490590,610.877080,670.234436,692.835146,586.115873,0.0,0.0,0.0,0.0,0.0
996,46.051445,46.051445,46.051445,46.051445,46.051445,10.085207,9.593152,7.678658,11.762734,9.511404,0.223287,0.223287,0.223287,0.223287,0.223287,0.0,1.0,2.0,3.0,4.0,3684.115633,3683.526174,3683.820904,3683.919147,3683.968268,1846.809678,1820.238742,1716.856070,1937.396127,1815.824312,1837.305955,1863.287433,1966.964834,1746.523020,1868.143957,0.0,0.0,0.0,0.0,0.0
997,31.544690,31.544690,31.544690,31.544690,31.544690,9.618792,10.618079,8.901000,8.660380,11.759042,0.253836,0.253836,0.253836,0.253836,0.253836,0.0,1.0,2.0,3.0,4.0,2523.575175,2523.171403,2523.373289,2523.440585,2523.474232,1999.785072,2053.746597,1961.024344,1948.030842,2115.358620,523.790103,469.424806,562.348945,575.409742,408.115612,0.0,0.0,0.0,0.0,0.0
998,39.096432,39.096432,39.096432,39.096432,39.096432,9.347902,10.373087,10.140545,9.657295,10.179309,0.292931,0.292931,0.292931,0.292931,0.292931,0.0,1.0,2.0,3.0,4.0,3127.714560,3127.214126,3127.464343,3127.547749,3127.589452,2213.161447,2268.521421,2255.964144,2229.868647,2258.057437,914.553114,858.692705,871.500199,897.679102,869.532015,0.0,0.0,0.0,0.0,0.0
999,40.156800,40.156800,40.156800,40.156800,40.156800,10.265487,9.203537,11.229301,9.538516,12.648010,0.252252,0.252252,0.252252,0.252252,0.252252,0.0,1.0,2.0,3.0,4.0,3212.543988,3212.029981,3212.286985,3212.372652,3212.415486,2025.469929,1968.124645,2077.515932,1986.213489,2154.126198,1187.074059,1243.905336,1134.771053,1226.159163,1058.289289,0.0,0.0,0.0,0.0,0.0

In [13]:
pf

     G_0
0  0.000
1  0.001
2  0.001
3  0.002
4  0.002

In [14]:
beta

         G_0
0  21.589144
1   3.090232
2   3.090232
3   2.878162
4   2.878162