# Libraries

In [3]:
import sys
path = r'C:\Users\wande\OneDrive\Documentos\GitHub\PAREPYDEV'
sys.path.append(path)
import pandas as pd
pd.set_option('display.max_columns', None)

# Run

In [ ]:
from parepy_toolbox import sampling_algorithm_structural_analysis
from obj_function import nowak_collins_example

# Dataset

f = {'type': 'normal', 'parameters': {'min': 10, 'max': 20}, 'stochastic variable': False, 'seed': 25}
p = {'type': 'gumbel max', 'loc': 10.2, 'scale': 1.12, 'seed': None}
w = {'type': 'lognormal', 'loc': 0.25, 'scale': 0.025, 'seed': None}
var = [f, p, w]

# PAREpy setup
setup = {
             'number of samples': 10, 
             'number of dimensions': len(var), 
             'numerical model': {'model sampling': 'mcs'}, 
             'variables settings': var, 
             'number of state limit functions or constraints': 1, 
             'none variable': None,
             'objective function': nowak_collins_example,
             'name simulation': None,
        }

# Call algorithm
results, pf, beta = sampling_algorithm_structural_analysis(setup)
results

21:54:32 - Checking inputs completed!
21:54:32 - Started State Limit Function evaluation (g)...
21:54:37 - Finished State Limit Function evaluation (g) in 5.08e+00 seconds!
21:54:37 - Started evaluation beta reliability index and failure probability...
21:54:37 - Finished evaluation beta reliability index and failure probability in 9.51e-03 seconds!
21:54:37 - Voil√†!!!!....simulation results not was saved in txt file!

         X_0        X_1       X_2          R_0          S_0          G_0  I_0
0  38.509103  11.671834  0.285260  3080.728259  2293.917890   786.810369  0.0
1  33.315589   8.280667  0.269203  2665.247154  2017.145227   648.101927  0.0
2  45.191551  12.393030  0.231299  3615.324044  2018.162112  1597.161933  0.0
3  37.184724  12.400611  0.264079  2974.777926  2209.739852   765.038075  0.0
4  34.601911   9.194907  0.273139  2768.152908  2089.471796   678.681112  0.0
5  36.033381   9.747881  0.269283  2882.670502  2096.844996   785.825506  0.0
6  31.726762  10.905913  0.257080  2538.140988  2088.210691   449.930296  0.0
7  43.367380   9.198202  0.205877  3469.390428  1697.378086  1772.012343  0.0
8  37.031359   9.046577  0.228865  2962.508732  1823.257669  1139.251064  0.0
9  37.685016  10.032177  0.225671  3014.801288  1857.850308  1156.950980  0.0