In [1]:
import sys
# path = r'C:\Users\wander\Documents\Python Scripts\PAREPYDEV'
path = r'C:\Users\rezio\OneDrive\Documentos\.git codes\PAREPY'
sys.path.append(path)
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
from parepy_toolbox import sampling_algorithm_structural_analysis_kernel
from obj_function import nowak_collins_example

# Dataset
f = {'type': 'normal', 'parameters': {'mean': 40.3, 'sigma': 4.64}, 'stochastic variable': False}
p = {'type': 'gumbel max', 'parameters': {'mean': 10.2, 'sigma': 1.12}, 'stochastic variable': False}
w = {'type': 'lognormal', 'parameters': {'mean': 0.25, 'sigma': 0.025}, 'stochastic variable': False}
var = [f, p, w]

# PAREpy setup
setup = {
             'number of samples': 10, 
             'number of dimensions': len(var), 
             'numerical model': {'model sampling': 'mcs'}, 
             'variables settings': var, 
             'number of state limit functions or constraints': 1, 
             'none variable': None,
             'objective function': nowak_collins_example,
             'name simulation': None,
        }

# Call algorithm
sampling_algorithm_structural_analysis_kernel(setup)

         X_0        X_1       X_2          R_0          S_0          G_0  I_0
0  38.147415   9.344034  0.214092  3051.793223  1753.162627  1298.630596  0.0
1  34.958049  11.026791  0.215128  2796.643930  1850.074570   946.569360  0.0
2  41.159334  10.673790  0.283949  3292.746712  2232.376009  1060.370703  0.0
3  48.095215  12.300050  0.228009  3847.617189  1993.951520  1853.665669  0.0
4  40.995173   8.933651  0.214998  3279.613857  1736.287976  1543.325882  0.0
5  43.017952   9.198384  0.229951  3441.436132  1837.786364  1603.649768  0.0
6  38.014472  11.728446  0.291422  3041.157791  2332.910761   708.247030  0.0
7  36.225238   9.565188  0.252751  2898.019034  1990.566002   907.453032  0.0
8  46.751086   9.709524  0.275439  3740.086859  2130.675792  1609.411066  0.0
9  44.855078  12.007404  0.272788  3588.406216  2239.299691  1349.106525  0.0

In [3]:
from parepy_toolbox import sampling_algorithm_structural_analysis_kernel
from obj_function import nowak_collins_time_example
import numpy as np

# Dataset
f = {'type': 'normal', 'parameters': {'mean': 40.3, 'sigma': 4.64}, 'stochastic variable': True}
p = {'type': 'gumbel max', 'parameters': {'mean': 10.2, 'sigma': 1.12}, 'stochastic variable': False}
w = {'type': 'lognormal', 'parameters': {'mean': 0.25, 'sigma': 0.025}, 'stochastic variable': False}
var = [f, p, w]

# PAREpy setup
setup = {
             'number of samples': 10, 
             'number of dimensions': len(var), 
             'numerical model': {'model sampling': 'mcs-time', 'time steps': 5}, 
             'variables settings': var, 
             'number of state limit functions or constraints': 1, 
             'none variable': {'time analysis': list(np.linspace(0, 50, num=5, endpoint=True))},
             'objective function': nowak_collins_time_example,
             'name simulation': None,
        }

# Call algorithm
ee = sampling_algorithm_structural_analysis_kernel(setup)
ee

0.0
12.5
25.0
37.5
50.0
0.0
12.5
25.0
37.5
50.0
0.0
12.5
25.0
37.5
50.0
0.0
12.5
25.0
37.5
50.0
0.0
12.5
25.0
37.5
50.0
0.0
12.5
25.0
37.5
50.0
0.0
12.5
25.0
37.5
50.0
0.0
12.5
25.0
37.5
50.0
0.0
12.5
25.0
37.5
50.0
0.0
12.5
25.0
37.5
50.0

,X_0_t=0,X_0_t=1,X_0_t=2,X_0_t=3,X_0_t=4,X_1_t=0,X_1_t=1,X_1_t=2,X_1_t=3,X_1_t=4,X_2_t=0,X_2_t=1,X_2_t=2,X_2_t=3,X_2_t=4,STEP_t_0,STEP_t_1,STEP_t_2,STEP_t_3,STEP_t_4,R_0_t=0,R_0_t=1,R_0_t=2,R_0_t=3,R_0_t=4,S_0_t=0,S_0_t=1,S_0_t=2,S_0_t=3,S_0_t=4,G_0_t=0,G_0_t=1,G_0_t=2,G_0_t=3,G_0_t=4,I_0_t=0,I_0_t=1,I_0_t=2,I_0_t=3,I_0_t=4
0,45.673157,44.057702,40.039786,37.326771,43.503666,10.602241,10.602241,10.602241,10.602241,10.602241,0.244573,0.244573,0.244573,0.244573,0.244573,0.0,1.0,2.0,3.0,4.0,3653.852534,3524.052239,3202.926652,2985.982414,3480.154068,1998.868592,1998.868592,1998.868592,1998.868592,1998.868592,1654.983941,1525.183646,1204.058060,987.113821,1481.285476,0.0,0.0,0.0,0.0,0.0
1,41.640451,34.594817,40.180505,35.217363,39.133459,11.508107,11.508107,11.508107,11.508107,11.508107,0.283887,0.283887,0.283887,0.283887,0.283887,0.0,1.0,2.0,3.0,4.0,3331.236041,2767.142562,3214.183223,2817.238772,3130.551504,2277.069657,2277.069657,2277.069657,2277.069657,2277.069657,1054.166384,490.072905,937.113566,540.169115,853.481848,0.0,0.0,0.0,0.0,0.0
2,46.329153,43.487560,41.254845,43.463933,34.892645,10.840066,10.840066,10.840066,10.840066,10.840066,0.234393,0.234393,0.234393,0.234393,0.234393,0.0,1.0,2.0,3.0,4.0,3706.332202,3478.448194,3300.123594,3476.929171,2791.299959,1952.346346,1952.346346,1952.346346,1952.346346,1952.346346,1753.985856,1526.101848,1347.777248,1524.582826,838.953614,0.0,0.0,0.0,0.0,0.0
3,33.533581,38.838024,44.718698,42.796176,36.931286,10.547938,10.547938,10.547938,10.547938,10.547938,0.214925,0.214925,0.214925,0.214925,0.214925,0.0,1.0,2.0,3.0,4.0,2682.686466,3106.544776,3577.209601,3423.511480,2954.384734,1823.033063,1823.033063,1823.033063,1823.033063,1823.033063,859.653403,1283.511714,1754.176539,1600.478417,1131.351671,0.0,0.0,0.0,0.0,0.0
4,52.673827,30.668726,40.777391,30.750925,40.887367,10.042491,10.042491,10.042491,10.042491,10.042491,0.258701,0.258701,0.258701,0.258701,0.258701,0.0,1.0,2.0,3.0,4.0,4213.906142,2453.105492,3261.930273,2459.942789,3270.858552,2051.041625,2051.041625,2051.041625,2051.041625,2051.041625,2162.864517,402.063867,1210.888648,408.901164,1219.816927,0.0,0.0,0.0,0.0,0.0
5,38.930046,47.797628,40.320004,36.614911,39.295883,10.127638,10.127638,10.127638,10.127638,10.127638,0.284337,0.284337,0.284337,0.284337,0.284337,0.0,1.0,2.0,3.0,4.0,3114.403673,3823.198437,3225.342277,2929.036692,3143.544924,2205.147450,2205.147450,2205.147450,2205.147450,2205.147450,909.256222,1618.050987,1020.194827,723.889242,938.397474,0.0,0.0,0.0,0.0,0.0
6,41.069754,38.107678,40.358321,46.285624,37.203365,9.467613,9.467613,9.467613,9.467613,9.467613,0.190857,0.190857,0.190857,0.190857,0.190857,0.0,1.0,2.0,3.0,4.0,3285.580347,3048.126475,3228.407390,3702.652404,2976.150123,1624.326215,1624.326215,1624.326215,1624.326215,1624.326215,1661.254131,1423.800260,1604.081175,2078.326188,1351.823908,0.0,0.0,0.0,0.0,0.0
7,37.974896,35.994101,46.247623,34.683816,38.703146,10.901998,10.901998,10.901998,10.901998,10.901998,0.237710,0.237710,0.237710,0.237710,0.237710,0.0,1.0,2.0,3.0,4.0,3037.991666,2879.067379,3699.513871,2774.557306,3096.127815,1975.033399,1975.033399,1975.033399,1975.033399,1975.033399,1062.958267,904.033979,1724.480472,799.523907,1121.094416,0.0,0.0,0.0,0.0,0.0
8,42.906912,46.394435,47.207279,43.904404,30.249095,10.819889,10.819889,10.819889,10.819889,10.819889,0.264688,0.264688,0.264688,0.264688,0.264688,0.0,1.0,2.0,3.0,4.0,3432.552955,3710.960952,3776.280208,3512.164979,2419.830774,2127.932110,2127.932110,2127.932110,2127.932110,2127.932110,1304.620845,1583.028842,1648.348097,1384.232869,291.898663,0.0,0.0,0.0,0.0,0.0
9,35.370706,38.432584,43.492037,39.837168,42.645505,10.122667,10.122667,10.122667,10.122667,10.122667,0.232655,0.232655,0.232655,0.232655,0.232655,0.0,1.0,2.0,3.0,4.0,2829.656489,3074.114780,3479.084608,3186.803505,3411.503939,1903.469003,1903.469003,1903.469003,1903.469003,1903.469003,926.187486,1170.645776,1575.615604,1283.334502,1508.034936,0.0,0.0,0.0,0.0,0.0

In [4]:
# from parepy_toolbox import simpling as samplingg

# # Dataset: stochastic value in time series
# model = {'model sampling': 'mcs-time', 'time steps': 2}
# f = {'type': 'normal', 'loc': 7, 'scale': 3, 'seed': None, 'stochastic variable': False}
# varSet = [f, f]
# size = 5

# # Call function
# r = samplingg(size, len(varSet), model, varSet)

# # Output details
# print(f'random variables n={len(r)}: \n\n {r} \n\n type variable: {type(r)}')

In [5]:
from parepy_toolbox import sampling

# Dataset: stochastic value in time series
model = {'model sampling': 'lhs-time', 'time steps': 3}
f = {'type': 'normal', 'parameters': {'mean': 40.3, 'sigma': 4.64}, 'stochastic variable': False, 'seed': None}
q = {'type': 'normal', 'parameters': {'mean': 10.0, 'sigma': 2.00}, 'stochastic variable': False, 'seed': None}
varSet = [f, q]
size = 5

# Call function
r = sampling(size, model, varSet)

# Output details
print(f'random variables n={len(r)}: \n\n {r} \n\n type variable: {type(r)}')

random variables n=15:

 [[34.26449326 11.32654675  0.        ]
 [34.26449326 11.32654675  1.        ]
 [34.26449326 11.32654675  2.        ]
 [42.70405506  9.27221242  0.        ]
 [42.70405506  9.27221242  1.        ]
 [42.70405506  9.27221242  2.        ]
 [39.1450906   9.46547941  0.        ]
 [39.1450906   9.46547941  1.        ]
 [39.1450906   9.46547941  2.        ]
 [35.42441822 14.60433259  0.        ]
 [35.42441822 14.60433259  1.        ]
 [35.42441822 14.60433259  2.        ]
 [39.84844214  8.96554931  0.        ]
 [39.84844214  8.96554931  1.        ]
 [39.84844214  8.96554931  2.        ]]

 type variable: <class 'numpy.ndarray'>

In [6]:
from parepy_toolbox import deterministic_algorithm_structural_analysis
from obj_function import form_1, grad_form_1

# Dataset
# Dataset
f = {'type': 'normal', 'parameters': {'mean': 40.3, 'sigma': 4.64}, 'stochastic variable': True}
p = {'type': 'gumbel max', 'parameters': {'mean': 10.2, 'sigma': 1.12}, 'stochastic variable': False}
w = {'type': 'lognormal', 'parameters': {'mean': 0.25, 'sigma': 0.025}, 'stochastic variable': False}
var = [f, p, w]

setup = {   
            'objective function': form_1,
            'gradient objective function': grad_form_1,
             'numerical model': {'model': 'fosm', 'initial guess': [0, 0, 0]}, 
             'tolerance': 1e-6, 
             'max iterations': 1000,
             'none variable': None,
             'variables settings': var,  
             'number of iterations': 10,
        }


results_about_data, failure_prob_list, beta_list = deterministic_algorithm_structural_analysis(setup)

Jxy:  [[4.64  0.    0.   ]
 [0.    1.12  0.   ]
 [0.    0.    0.025]]
JxyT  [[4.64  0.    0.   ]
 [0.    1.12  0.   ]
 [0.    0.    0.025]]
Jyx:  [[ 0.21551724  0.          0.        ]
 [ 0.          0.89285714  0.        ]
 [ 0.          0.         40.        ]]
y:  [[ -8.68534483]
 [ -9.10714286]
 [-10.        ]]
g_y:  -1400
g_diff_x:  [[0]
 [0]
 [0]]
g_diff_y:  [[0.]
 [0.]
 [0.]]
num:  [[1400.]]
den:  0.0
y_new:  [[nan]
 [nan]
 [nan]]
x_new:  [[nan nan nan]]
y:  [[nan]
 [nan]
 [nan]]
g_y:  nan
g_diff_x:  [[nan]
 [nan]
 [nan]]
g_diff_y:  [[nan]
 [nan]
 [nan]]
num:  [[nan]]
den:  nan
y_new:  [[nan]
 [nan]
 [nan]]
x_new:  [[nan nan nan]]
y:  [[nan]
 [nan]
 [nan]]
g_y:  nan
g_diff_x:  [[nan]
 [nan]
 [nan]]
g_diff_y:  [[nan]
 [nan]
 [nan]]
num:  [[nan]]
den:  nan
y_new:  [[nan]
 [nan]
 [nan]]
x_new:  [[nan nan nan]]
y:  [[nan]
 [nan]
 [nan]]
g_y:  nan
g_diff_x:  [[nan]
 [nan]
 [nan]]
g_diff_y:  [[nan]
 [nan]
 [nan]]
num:  [[nan]]
den:  nan
y_new:  [[nan]
 [nan]
 [nan]]
x_new:  [[nan nan nan]]
y:  [[nan]
 [nan]
 [nan]]
g_y:  nan
g_diff_x:  [[nan]
 [nan]
 [nan]]
g_diff_y:  [[nan]
 [nan]
 [nan]]
num:  [[nan]]
den:  nan
y_new:  [[nan]
 [nan]
 [nan]]
x_new:  [[nan nan nan]]
y:  [[nan]
 [nan]
 [nan]]
g_y:  nan
g_diff_x:  [[nan]
 [nan]
 [nan]]
g_diff_y:  [[nan]
 [nan]
 [nan]]
num:  [[nan]]
den:  nan
y_new:  [[nan]
 [nan]
 [nan]]
x_new:  [[nan nan nan]]
y:  [[nan]
 [nan]
 [nan]]
g_y:  nan
g_diff_x:  [[nan]
 [nan]
 [nan]]
g_diff_y:  [[nan]
 [nan]
 [nan]]
num:  [[nan]]
den:  nan
y_new:  [[nan]
 [nan]
 [nan]]
x_new:  [[nan nan nan]]
y:  [[nan]
 [nan]
 [nan]]
g_y:  nan
g_diff_x:  [[nan]
 [nan]
 [nan]]
g_diff_y:  [[nan]
 [nan]
 [nan]]
num:  [[nan]]
den:  nan
y_new:  [[nan]
 [nan]
 [nan]]
x_new:  [[nan nan nan]]
y:  [[nan]
 [nan]
 [nan]]
g_y:  nan
g_diff_x:  [[nan]
 [nan]
 [nan]]
g_diff_y:  [[nan]
 [nan]
 [nan]]
num:  [[nan]]
den:  nan
y_new:  [[nan]
 [nan]
 [nan]]
x_new:  [[nan nan nan]]
y:  [[nan]
 [nan]
 [nan]]
g_y:  nan
g_diff_x:  [[nan]
 [nan]
 [nan]]
g_diff_y:  [[nan]
 [nan]
 [nan]]
num:  [[nan]]
den:  nan
y_new:  [[nan]
 [nan]
 [nan]]
x_new:  [[nan nan nan]]

In [7]:
results_about_data

    x0   x1        y0        y1  state limit function  ϐ new
0  0.0  0.0 -8.685345 -9.107143               -1400.0    NaN
1  NaN  NaN       NaN       NaN                   NaN    NaN
2  NaN  NaN       NaN       NaN                   NaN    NaN
3  NaN  NaN       NaN       NaN                   NaN    NaN
4  NaN  NaN       NaN       NaN                   NaN    NaN
5  NaN  NaN       NaN       NaN                   NaN    NaN
6  NaN  NaN       NaN       NaN                   NaN    NaN
7  NaN  NaN       NaN       NaN                   NaN    NaN
8  NaN  NaN       NaN       NaN                   NaN    NaN
9  NaN  NaN       NaN       NaN                   NaN    NaN